@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.App {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}
.Container {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*Area BootStrap css*/
.LogoArea {
  height: 10%;
  margin-bottom: -50px;
}
.ContentArea {
  height: 50vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.SelectArea {
  align-items: center;
  justify-content: center;
}
.QuizArea {
  width: 90%;
  height: 70%;
  min-width: 80%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px 3px rgb(39, 39, 39);
  color: #282C34;
}
/*Logo css*/
.App-logo {
  height: 15vmin;
  pointer-events: none;
}
/*Quiz answer select Button*/
.SelectBtn {
  width: 95%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px
}
.ProblemNum {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(144, 172, 155);
  border-radius: 5px;
  margin-right: 20px;
}
input[type=radio] { 
  appearance: none; 
} 
.NextBtn {
  float: right;
  margin-top: 10px;
  width: 20%;
  height: 50px;
  margin-right: 25px;
}
