@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.App {
  width: 100vw;
  height:100vh;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}
.Container {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 3vmin);
  color: white;
}
/*Area BootStrap css*/
.LogoArea {
  height: 5vh;
  margin-bottom: 5vh;
}
.ContentArea {
  height: 50vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.SelectArea {
  height: 40vh;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
}
.QuizArea {
  width: 90%;
  height: 60%;
  min-width: 80%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px 3px rgb(39, 39, 39);
  color: #282C34;
}
/*Logo css*/
.App-logo {
  height: 10vh;
}
/*Quiz answer select Button*/
.SelectBtn {
  width: 95%;
  height: 6vh;
  max-height: 50px;
  display: flex;
  align-items: center;
  margin: 10px
}
.ProblemNum {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(144, 172, 155);
  border-radius: 5px;
  margin-right: 20px;
}
.StartBtn {
  font-size: calc(5px + 2.5vmin);
  margin-bottom: 10px;
  width: 90vw;
  height: 7vh;
}
input[type=radio] { 
  appearance: none; 
} 
.DisplayNone {
  display: none;
}
.NextBtn {
  float: center;
  margin-top: 10px;
  width: 20vh;
  height: 50px;
}
.Timer {
  height: 50px;
  width: 20vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1d22;
  color: white;
}
.ContextAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
.BlankSpace {
  height: 8vh;
}
.ResultSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 3vmin);
  background-color: #1b1d22;
  width: 90vw;
  height: 5.5vh;
  max-height: 220px;
  padding-top: 1.5vh;
}
.ChartSpace {
  width: 60%;
  max-width: 300px;
  height: 40vh;
  margin: 10px;
}
.ButtonSpace {
  width: 100vw;
  height: 20vh;
}
.CheckQuestion {
  font-size: 30px;
}
.CheckAnswer {
  font-size: 25px;
  color: #00C896;
}
.MyAnswer {
  font-size: 25px;
  color:red;
}
/*Modal styles*/
.ModalStyle {
  font-size: calc(5px + 2vmin);
  width: 100vw;
  height: 100vh;
}
.ModalInner {
  height: 75vh;
}
.modal-header {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: left;
  color: white;
  background-color: #282c34;
  border-bottom: 0px;
}