.App {
  text-align: center;
}
.Container {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*Area BootStrap css*/
.LogoArea {
  height: 20%;
}
.ContentArea {
  height: 50vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.ButtonArea {
  height: 30vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

